openapi: 3.0.3
info:
  title: Be Budget Today API
  description: REST API for Be Budget Today personal finance app
  version: 1.0.0
  contact:
    name: Fernando Llopis
    url: https://bebudgettoday.com

servers:
  - url: https://bebudgettoday.com/api
    description: Production server

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    SuccessResponse:
      type: object
      properties:
        type:
          type: string
          example: success
        data:
          type: object

    ErrorResponse:
      type: object
      properties:
        type:
          type: string
          example: error
        error:
          type: string

    User:
      type: object
      properties:
        id:
          type: string
        account_type:
          type: string
          enum: [standard, premium]
        name:
          type: string
        email:
          type: string
        avatar_url:
          type: string
          nullable: true
        language:
          type: string
          enum: [es, en, fr, de, pt, it]
        currency:
          type: string
          enum: [EUR, USD, GBP, BRL, CHF, MXN, CAD, AUD]
        created_at:
          type: string
          format: date-time
        token:
          type: string

    UserProfile:
      type: object
      properties:
        id:
          type: string
          example: "1"
        name:
          type: string
          example: Fernando Llopis
        email:
          type: string
          example: user@example.com
        account_type:
          type: string
          enum: [standard, premium]
          example: premium
        avatar_url:
          type: string
          nullable: true
          example: null
        currency:
          type: string
          enum: [EUR, USD, GBP, BRL, CHF, MXN, CAD, AUD]
          example: EUR
        language:
          type: string
          enum: [es, en, fr, de, pt, it]
          example: es
        auth_provider:
          type: string
          enum: [local, google, apple]
          example: local
        created_at:
          type: string
          format: date-time
          example: "2025-11-12 10:58:51"
        subscription:
          nullable: true
          description: >
            Most recent subscription for the user (any status: active, cancelled or expired).
            Only present when account_type is premium. null for standard users.
          type: object
          properties:
            plan:
              type: string
              enum: [monthly, yearly]
              example: monthly
            status:
              type: string
              enum: [active, cancelled, expired]
              example: active
            store:
              type: string
              enum: [apple, google, promo]
              nullable: true
              example: apple
            expires_at:
              type: string
              format: date-time
              example: "2026-05-01 00:00:00"

    Category:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [expense, income]
        name:
          type: string
        description:
          type: string
        icon:
          type: string
        color:
          type: string
        bg_color:
          type: string

    Transaction:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [expense, income]
        amount:
          type: number
          format: decimal
        description:
          type: string
        transaction_date:
          type: string
          format: date-time
        category:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            name:
              type: string
            icon:
              type: string
            color:
              type: string
            bg_color:
              type: string

    MonthlySummary:
      type: object
      properties:
        income:
          type: number
        expense:
          type: number
        resume:
          type: number

    CategoryStats:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        icon:
          type: string
        color:
          type: string
        total:
          type: number
        percentage:
          type: number

    SavingMotivation:
      type: object
      properties:
        showMotivation:
          type: boolean
          example: true
        tip_type:
          type: string
          enum: [positive, negative, neutral]
          nullable: true
          example: positive
        message:
          type: string
          example: "Este mes estás ahorrando 200.00€ más que el mes pasado."
        highlight_category:
          type: object
          nullable: true
          description: Top expense category for the current month. null if no expense data.
          properties:
            name:
              type: string
              example: Hogar
            percentage:
              type: integer
              example: 81

    Subscription:
      type: object
      properties:
        id:
          type: string
        id_user:
          type: string
        plan:
          type: string
          enum: [monthly, yearly]
        status:
          type: string
          enum: [active, cancelled, expired]
        price:
          type: number
        currency:
          type: string
          enum: [EUR, USD, GBP, BRL, CHF, MXN, CAD, AUD]
        started_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        store:
          type: string
          enum: [apple, google, promo]
          nullable: true
        store_transaction_id:
          type: string
          nullable: true
        store_product_id:
          type: string
          nullable: true

    RecurringTransaction:
      type: object
      properties:
        id:
          type: string
          example: "1"
        type:
          type: string
          enum: [expense, income]
          example: expense
        amount:
          type: string
          example: "750.00"
        description:
          type: string
          example: Alquiler
        day_of_month:
          type: integer
          minimum: 1
          maximum: 30
          example: 5
        is_active:
          type: boolean
          example: true
        category:
          type: object
          properties:
            id:
              type: string
              example: "1"
            name:
              type: string
              example: Hogar
            icon:
              type: string
              example: home
            color:
              type: string
              example: "#FF9800"
            bg_color:
              type: string
              example: "#FFF3E0"

paths:

  # ─────────────────────────────────────────
  #   AUTHENTICATION
  # ─────────────────────────────────────────

  /auth/login:
    post:
      tags: [Authentication]
      summary: Login with email and password
      description: Only available for local auth users (auth_provider = local)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  example: user@example.com
                password:
                  type: string
                  example: mypassword123
                lang:
                  type: string
                  enum: [es, en, fr, de, pt, it]
                  default: es
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'
        '400':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/register:
    post:
      tags: [Authentication]
      summary: Register a new local account
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, password]
              properties:
                name:
                  type: string
                  example: Fernando Llopis
                email:
                  type: string
                  example: user@example.com
                password:
                  type: string
                  example: mypassword123
                lang:
                  type: string
                  enum: [es, en, fr, de, pt, it]
                  default: es
      responses:
        '200':
          description: Registration successful — returns user data with JWT token
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/google:
    post:
      tags: [Authentication]
      summary: Login or register with Google
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [auth_provider, provider_token]
              properties:
                auth_provider:
                  type: string
                  example: google
                provider_token:
                  type: string
                  description: Google ID token
                email:
                  type: string
                name:
                  type: string
                avatar_url:
                  type: string
                lang:
                  type: string
                  enum: [es, en, fr, de, pt, it]
                  default: es
      responses:
        '200':
          description: Google auth successful
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'
        '400':
          description: Invalid Google token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/forgot-password:
    post:
      tags: [Authentication]
      summary: Send 6-digit reset code to email
      description: Always returns success even if email not found (prevents user enumeration). Only works for local auth accounts.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  example: user@example.com
                lang:
                  type: string
                  enum: [es, en, fr, de, pt, it]
                  default: es
      responses:
        '200':
          description: Code sent (or silently ignored if email not found)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string

  /auth/verify-code:
    post:
      tags: [Authentication]
      summary: Verify the 6-digit reset code
      description: Returns a one-time reset_token valid for 10 minutes
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, code]
              properties:
                email:
                  type: string
                  example: user@example.com
                code:
                  type: string
                  minLength: 6
                  maxLength: 6
                  example: "123456"
                lang:
                  type: string
                  enum: [es, en, fr, de, pt, it]
                  default: es
      responses:
        '200':
          description: Code verified — returns reset_token
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          reset_token:
                            type: string
        '400':
          description: Invalid or expired code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/reset-password:
    post:
      tags: [Authentication]
      summary: Reset password using the one-time reset token
      description: Marks the reset code as used after success
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reset_token, new_password]
              properties:
                reset_token:
                  type: string
                  description: Token received from verify-code endpoint
                new_password:
                  type: string
                  minLength: 6
                lang:
                  type: string
                  enum: [es, en, fr, de, pt, it]
                  default: es
      responses:
        '200':
          description: Password reset successful
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
        '400':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ─────────────────────────────────────────
  #   USERS
  # ─────────────────────────────────────────

  /users/{id}:
    get:
      tags: [Users]
      summary: Get user profile
      description: >
        Returns the full user profile. For premium users, includes the most recent subscription
        regardless of its status (active, cancelled or expired). Standard users return subscription: null.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: lang
          in: query
          schema:
            type: string
            enum: [es, en, fr, de, pt, it]
            default: es
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserProfile'
        '400':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    put:
      tags: [Users]
      summary: Update user profile
      description: Updates only provided fields — name, email, currency, language
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: lang
          in: query
          schema:
            type: string
            enum: [es, en, fr, de, pt, it]
            default: es
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                currency:
                  type: string
                  enum: [EUR, USD, GBP, BRL, CHF, MXN, CAD, AUD]
                language:
                  type: string
                  enum: [es, en, fr, de, pt, it]
      responses:
        '200':
          description: Updated profile
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserProfile'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    post:
      tags: [Users]
      summary: User account actions
      description: Currently supports action "change_password" (local auth only)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: lang
          in: query
          schema:
            type: string
            enum: [es, en, fr, de, pt, it]
            default: es
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action:
                  type: string
                  enum: [change_password]
                current_password:
                  type: string
                  description: Required when action is change_password
                new_password:
                  type: string
                  minLength: 6
                  description: Required when action is change_password
      responses:
        '200':
          description: Action successful
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
        '400':
          description: Invalid action or wrong password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      tags: [Users]
      summary: Delete user account
      description: Permanently deletes account. Cascades to categories, transactions and subscriptions.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: lang
          in: query
          schema:
            type: string
            enum: [es, en, fr, de, pt, it]
            default: es
      responses:
        '200':
          description: Account deleted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
        '400':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ─────────────────────────────────────────
  #   CATEGORIES
  # ─────────────────────────────────────────

  /categories/:
    get:
      tags: [Categories]
      summary: Get all categories by type
      parameters:
        - name: id_user
          in: query
          required: true
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
            enum: [expense, income]
            default: expense
        - name: lang
          in: query
          schema:
            type: string
            enum: [es, en, fr, de, pt, it]
            default: es
      responses:
        '200':
          description: List of categories
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Category'

    post:
      tags: [Categories]
      summary: Create a new category
      description: Standard users are limited by STANDARD_MAX_EXPENSE_CATEGORIES config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_user, type, name, icon, color, bg_color]
              properties:
                id_user:
                  type: string
                type:
                  type: string
                  enum: [expense, income]
                name:
                  type: string
                description:
                  type: string
                icon:
                  type: string
                  description: MaterialCommunityIcons name
                color:
                  type: string
                  example: "#4CAF50"
                bg_color:
                  type: string
                  example: "#E8F5E9"
                lang:
                  type: string
                  enum: [es, en, fr, de, pt, it]
                  default: es
      responses:
        '200':
          description: Created category
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Category'
        '400':
          description: Validation error or category limit reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /categories/{id}:
    get:
      tags: [Categories]
      summary: Get category by id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: id_user
          in: query
          required: true
          schema:
            type: string
        - name: lang
          in: query
          schema:
            type: string
            enum: [es, en, fr, de, pt, it]
            default: es
      responses:
        '200':
          description: Category data
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Category'

    put:
      tags: [Categories]
      summary: Update a category
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_user]
              properties:
                id_user:
                  type: string
                name:
                  type: string
                description:
                  type: string
                icon:
                  type: string
                color:
                  type: string
                bg_color:
                  type: string
                lang:
                  type: string
                  enum: [es, en, fr, de, pt, it]
                  default: es
      responses:
        '200':
          description: Updated category
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Category'

    delete:
      tags: [Categories]
      summary: Delete a category
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: id_user
          in: query
          required: true
          schema:
            type: string
        - name: lang
          in: query
          schema:
            type: string
            enum: [es, en, fr, de, pt, it]
            default: es
      responses:
        '200':
          description: Category deleted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string

  # ─────────────────────────────────────────
  #   TRANSACTIONS
  # ─────────────────────────────────────────

  /transactions/:
    get:
      tags: [Transactions]
      summary: Get transactions by date range
      parameters:
        - name: id_user
          in: query
          required: true
          schema:
            type: string
        - name: start_date
          in: query
          schema:
            type: string
            format: date
            example: "2026-04-01"
            description: Default is first day of current month
        - name: end_date
          in: query
          schema:
            type: string
            format: date
            example: "2026-04-30"
            description: Default is last day of current month
        - name: type
          in: query
          schema:
            type: string
            enum: [all, expense, income]
            default: all
        - name: lang
          in: query
          schema:
            type: string
            enum: [es, en, fr, de, pt, it]
            default: es
      responses:
        '200':
          description: List of transactions with category data
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Transaction'

    post:
      tags: [Transactions]
      summary: Create a new transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_user, id_category, type, amount, description, transaction_date]
              properties:
                id_user:
                  type: string
                id_category:
                  type: string
                type:
                  type: string
                  enum: [expense, income]
                amount:
                  type: number
                  format: decimal
                  example: 25.50
                description:
                  type: string
                  example: Carrefour
                transaction_date:
                  type: string
                  format: date-time
                  example: "2026-04-04 12:00:00"
                lang:
                  type: string
                  enum: [es, en, fr, de, pt, it]
                  default: es
      responses:
        '200':
          description: Created transaction with category data
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Transaction'

  /transactions/{id}:
    get:
      tags: [Transactions]
      summary: Get transaction by id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: id_user
          in: query
          required: true
          schema:
            type: string
        - name: lang
          in: query
          schema:
            type: string
            enum: [es, en, fr, de, pt, it]
            default: es
      responses:
        '200':
          description: Transaction with category data
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Transaction'

    put:
      tags: [Transactions]
      summary: Update a transaction
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_user]
              properties:
                id_user:
                  type: string
                id_category:
                  type: string
                amount:
                  type: number
                description:
                  type: string
                transaction_date:
                  type: string
                  format: date-time
                lang:
                  type: string
                  enum: [es, en, fr, de, pt, it]
                  default: es
      responses:
        '200':
          description: Updated transaction
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Transaction'

    delete:
      tags: [Transactions]
      summary: Delete a transaction
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: id_user
          in: query
          required: true
          schema:
            type: string
        - name: lang
          in: query
          schema:
            type: string
            enum: [es, en, fr, de, pt, it]
            default: es
      responses:
        '200':
          description: Transaction deleted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string

  # ─────────────────────────────────────────
  #   RECURRING TRANSACTIONS
  # ─────────────────────────────────────────

  /recurring-transactions/:
    get:
      tags: [RecurringTransactions]
      summary: Get all recurring transactions for a user
      parameters:
        - name: id_user
          in: query
          required: true
          schema:
            type: string
        - name: lang
          in: query
          schema:
            type: string
            enum: [es, en, fr, de, pt, it]
            default: es
      responses:
        '200':
          description: List of recurring transactions ordered by day_of_month
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/RecurringTransaction'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    post:
      tags: [RecurringTransactions]
      summary: Create a new recurring transaction
      description: Standard users are limited by STANDARD_MAX_RECURRING_TRANSACTIONS config (default 3).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_user, id_category, type, amount, description, day_of_month]
              properties:
                id_user:
                  type: string
                  example: "1"
                id_category:
                  type: string
                  example: "2"
                type:
                  type: string
                  enum: [expense, income]
                amount:
                  type: number
                  example: 750.00
                description:
                  type: string
                  example: Alquiler
                day_of_month:
                  type: integer
                  minimum: 1
                  maximum: 30
                  example: 5
                lang:
                  type: string
                  enum: [es, en, fr, de, pt, it]
                  default: es
      responses:
        '200':
          description: Created recurring transaction
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/RecurringTransaction'
        '400':
          description: Validation error or limit reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /recurring-transactions/{id}:
    get:
      tags: [RecurringTransactions]
      summary: Get a recurring transaction by id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: id_user
          in: query
          required: true
          schema:
            type: string
        - name: lang
          in: query
          schema:
            type: string
            enum: [es, en, fr, de, pt, it]
            default: es
      responses:
        '200':
          description: Recurring transaction data
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/RecurringTransaction'
        '400':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    put:
      tags: [RecurringTransactions]
      summary: Update a recurring transaction
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_user]
              properties:
                id_user:
                  type: string
                id_category:
                  type: string
                type:
                  type: string
                  enum: [expense, income]
                amount:
                  type: number
                description:
                  type: string
                day_of_month:
                  type: integer
                  minimum: 1
                  maximum: 30
                lang:
                  type: string
                  enum: [es, en, fr, de, pt, it]
                  default: es
      responses:
        '200':
          description: Updated recurring transaction
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/RecurringTransaction'
        '400':
          description: Validation error or not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      tags: [RecurringTransactions]
      summary: Delete a recurring transaction
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: id_user
          in: query
          required: true
          schema:
            type: string
        - name: lang
          in: query
          schema:
            type: string
            enum: [es, en, fr, de, pt, it]
            default: es
      responses:
        '200':
          description: Recurring transaction deleted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string

  /recurring-transactions/{id}/toggle:
    post:
      tags: [RecurringTransactions]
      summary: Toggle active status of a recurring transaction
      description: Switches is_active between 1 (active) and 0 (paused).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_user]
              properties:
                id_user:
                  type: string
                  example: "1"
                lang:
                  type: string
                  enum: [es, en, fr, de, pt, it]
                  default: es
      responses:
        '200':
          description: Updated recurring transaction with new is_active value
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/RecurringTransaction'
        '400':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ─────────────────────────────────────────
  #   STATISTICS / DASHBOARD
  # ─────────────────────────────────────────

  /statistics/monthly-summary:
    get:
      tags: [Statistics]
      summary: Get monthly income/expense summary
      parameters:
        - name: id_user
          in: query
          required: true
          schema:
            type: string
        - name: start_date
          in: query
          schema:
            type: string
            format: date
            description: Default is first day of current month
        - name: end_date
          in: query
          schema:
            type: string
            format: date
            description: Default is last day of current month
        - name: lang
          in: query
          schema:
            type: string
            enum: [es, en, fr, de, pt, it]
            default: es
      responses:
        '200':
          description: Monthly summary
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MonthlySummary'

  /statistics/categories-stats:
    get:
      tags: [Statistics]
      summary: Get categories with spending stats and percentages
      parameters:
        - name: id_user
          in: query
          required: true
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
            enum: [expense, income]
            default: expense
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
        - name: lang
          in: query
          schema:
            type: string
            enum: [es, en, fr, de, pt, it]
            default: es
      responses:
        '200':
          description: Categories with stats
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/CategoryStats'

  /statistics/saving-motivation:
    get:
      tags: [Statistics]
      summary: Get motivational savings message for the user
      description: >
        Returns a daily motivation tip for the user comparing current month vs previous month.
        Uses lazy cache — computed once per day per user and stored in daily_motivations table.
        Tip levels: Level 0 (no data) returns showMotivation false. Level 1 (current month only)
        returns simple balance feedback. Level 2 (both months) returns comparison tip with euro difference.
        highlight_category contains the top expense category and its percentage for the current month.
      parameters:
        - name: id_user
          in: query
          required: true
          schema:
            type: string
        - name: currency
          in: query
          schema:
            type: string
            enum: [EUR, USD, GBP, BRL, CHF, MXN, CAD, AUD]
            example: EUR
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
        - name: lang
          in: query
          schema:
            type: string
            enum: [es, en, fr, de, pt, it]
            default: es
      responses:
        '200':
          description: Motivation message
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SavingMotivation'

  /statistics/annual-summary:
    get:
      tags: [Statistics]
      summary: Get annual financial summary
      description: >
        Returns the full-year financial summary for a user including total income, expense, balance,
        best month (highest balance) and worst month (lowest balance).
        Month names are translated according to the lang parameter.
        Returns zeros and null months if no data exists for the year.
        Requires JWT. Premium feature.
      parameters:
        - name: id_user
          in: query
          required: true
          schema:
            type: string
        - name: year
          in: query
          required: true
          schema:
            type: integer
            example: 2026
        - name: lang
          in: query
          schema:
            type: string
            enum: [es, en, fr, de, pt, it]
            default: es
      responses:
        '200':
          description: Annual summary
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          year:
                            type: integer
                            example: 2026
                          income:
                            type: number
                            example: 12450.00
                          expense:
                            type: number
                            example: 8320.00
                          balance:
                            type: number
                            example: 4130.00
                          best_month:
                            nullable: true
                            type: object
                            properties:
                              month:
                                type: integer
                                example: 5
                              month_name:
                                type: string
                                example: Mayo
                              income:
                                type: number
                                example: 1800.00
                              expense:
                                type: number
                                example: 350.00
                              balance:
                                type: number
                                example: 1450.00
                          worst_month:
                            nullable: true
                            type: object
                            properties:
                              month:
                                type: integer
                                example: 11
                              month_name:
                                type: string
                                example: Noviembre
                              income:
                                type: number
                                example: 900.00
                              expense:
                                type: number
                                example: 1120.00
                              balance:
                                type: number
                                example: -220.00
        '401':
          description: Unauthorized — missing or invalid JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /statistics/monthly-breakdown:
    get:
      tags: [Statistics]
      summary: Get monthly income/expense breakdown for a full year
      description: >
        Returns the income, expense and balance for each of the 12 months of a given year.
        Always returns all 12 months even if some have no transactions (value 0).
        Month names are abbreviated for chart display and translated according to the lang parameter.
        Requires JWT. Premium feature.
      parameters:
        - name: id_user
          in: query
          required: true
          schema:
            type: string
        - name: year
          in: query
          required: true
          schema:
            type: integer
            example: 2026
        - name: lang
          in: query
          schema:
            type: string
            enum: [es, en, fr, de, pt, it]
            default: es
      responses:
        '200':
          description: Monthly breakdown — always 12 elements ordered January to December
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            month:
                              type: integer
                              example: 1
                            month_name:
                              type: string
                              example: Ene
                            income:
                              type: number
                              example: 1200.00
                            expense:
                              type: number
                              example: 850.00
                            balance:
                              type: number
                              example: 350.00
        '401':
          description: Unauthorized — missing or invalid JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ─────────────────────────────────────────
  #   SUBSCRIPTIONS
  # ─────────────────────────────────────────

  /subscriptions/prices:
    get:
      tags: [Subscriptions]
      summary: Get subscription plan prices
      description: >
        Public endpoint — no JWT required.
        Returns plan prices read from the configurations table (shortcodes: SUBSCRIPTION_PREMIUM_MONTHLY, SUBSCRIPTION_PREMIUM_YEARLY).
        The savings_percentage is calculated dynamically against the equivalent monthly cost.
      security: []
      responses:
        '200':
          description: Plan prices
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          monthly:
                            type: object
                            properties:
                              price:
                                type: number
                                example: 1.99
                              currency:
                                type: string
                                example: EUR
                              product_id:
                                type: string
                                example: com.bebudgettoday.premium.monthly
                          yearly:
                            type: object
                            properties:
                              price:
                                type: number
                                example: 14.99
                              currency:
                                type: string
                                example: EUR
                              product_id:
                                type: string
                                example: com.bebudgettoday.premium.yearly
                              savings_percentage:
                                type: number
                                example: 37

  /subscriptions/status:
    get:
      tags: [Subscriptions]
      summary: Get active subscription status for a user
      description: Returns the active subscription for the user or null if they have no active subscription. Requires JWT.
      parameters:
        - name: id_user
          in: query
          required: true
          schema:
            type: string
        - name: lang
          in: query
          schema:
            type: string
            enum: [es, en, fr, de, pt, it]
            default: es
      responses:
        '200':
          description: Active subscription or null
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        nullable: true
                        type: object
                        properties:
                          id:
                            type: string
                            example: "1"
                          plan:
                            type: string
                            enum: [monthly, yearly]
                            example: monthly
                          status:
                            type: string
                            enum: [active, cancelled, expired]
                            example: active
                          price:
                            type: number
                            example: 1.99
                          currency:
                            type: string
                            enum: [EUR, USD, GBP, BRL, CHF, MXN, CAD, AUD]
                            example: EUR
                          store:
                            type: string
                            enum: [apple, google, promo]
                            example: apple
                          store_product_id:
                            type: string
                            example: com.bebudgettoday.premium.monthly
                          started_at:
                            type: string
                            format: date-time
                            example: "2026-04-01 00:00:00"
                          expires_at:
                            type: string
                            format: date-time
                            example: "2026-05-01 00:00:00"
        '401':
          description: Unauthorized — missing or invalid JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Missing id_user parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /subscriptions/verify:
    post:
      tags: [Subscriptions]
      summary: Verify in-app purchase receipt and create subscription
      description: >
        Verifies an in-app purchase receipt with Apple or Google and creates the subscription record in the database.
        On success the user account_type is upgraded to premium.
        Apple: verifies receipt-data against buy.itunes.apple.com/verifyReceipt (falls back to sandbox on status 21007).
        Google: verifies purchase token against Google Play Developer API.
        Requires JWT.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_user, store, store_product_id, store_transaction_id, plan]
              properties:
                id_user:
                  type: string
                  example: "1"
                store:
                  type: string
                  enum: [apple, google]
                  example: apple
                store_product_id:
                  type: string
                  example: com.bebudgettoday.premium.monthly
                store_transaction_id:
                  type: string
                  description: Base64-encoded receipt data (Apple) or purchase token (Google)
                plan:
                  type: string
                  enum: [monthly, yearly]
                  example: monthly
                lang:
                  type: string
                  enum: [es, en, fr, de, pt, it]
                  default: es
      responses:
        '200':
          description: Subscription verified and created — user upgraded to premium
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                            example: "1"
                          plan:
                            type: string
                            enum: [monthly, yearly]
                          status:
                            type: string
                            example: active
                          price:
                            type: number
                            example: 1.99
                          currency:
                            type: string
                            example: EUR
                          store:
                            type: string
                            enum: [apple, google]
                          store_product_id:
                            type: string
                            example: com.bebudgettoday.premium.monthly
                          started_at:
                            type: string
                            format: date-time
                          expires_at:
                            type: string
                            format: date-time
        '400':
          description: Validation error, invalid store, already active subscription, or receipt verification failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized — missing or invalid JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ─────────────────────────────────────────
  #   PROMO
  # ─────────────────────────────────────────

  /promo/redeem:
    post:
      tags: [Promo]
      summary: Redeem a promotional code
      description: >
        Validates and redeems a promotional code for the authenticated user.
        Creates a free premium subscription with the duration defined in the code.
        Validations in order: daily attempt limit, code already used by user, code exists,
        valid date range, usage limit not reached, user has no active subscription.
        Requires JWT.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_user, code]
              properties:
                id_user:
                  type: string
                  example: "1"
                code:
                  type: string
                  example: "WELCOME2026"
                lang:
                  type: string
                  enum: [es, en, fr, de, pt, it]
                  default: es
      responses:
        '200':
          description: Code redeemed successfully — premium subscription created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: "¡Código aplicado! Disfruta de Be Budget Premium."
                          subscription:
                            type: object
                            properties:
                              plan:
                                type: string
                                enum: [monthly, yearly]
                                example: monthly
                              status:
                                type: string
                                example: active
                              expires_at:
                                type: string
                                format: date-time
                                example: "2026-05-13 00:00:00"
                              store:
                                type: string
                                example: promo
        '400':
          description: Validation error — invalid code, expired, max uses reached, already premium or max attempts exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized — missing or invalid JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ─────────────────────────────────────────
  #   EXPORTS
  # ─────────────────────────────────────────

  /exports/request:
    post:
      tags: [Exports]
      summary: Request a data export
      description: >
        Registers a new export request for the authenticated user.
        Only one pending or processing request is allowed per user at a time.
        The export is processed daily by a cron job and sent to the user's email as a CSV attachment.
        The CSV includes all transactions ordered from newest to oldest, translated to the user's language.
        Requires JWT. Premium feature only.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_user]
              properties:
                id_user:
                  type: string
                  example: "1"
                lang:
                  type: string
                  enum: [es, en, fr, de, pt, it]
                  default: es
      responses:
        '200':
          description: Export request registered successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: "Solicitud registrada correctamente. Recibirás tu exportación por email en las próximas 24 horas."
        '400':
          description: Already has a pending request or user not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized — missing or invalid JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ─────────────────────────────────────────
  #   CONFIG
  # ─────────────────────────────────────────

  /config/limits:
    get:
      tags: [Config]
      summary: Get standard plan limits
      description: >
        Public endpoint — no JWT required.
        Returns the limitations of the standard (free) plan.
        Values are read from the configurations table.
      security: []
      responses:
        '200':
          description: Standard plan limits
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          standard:
                            type: object
                            properties:
                              max_categories:
                                type: integer
                                example: 5
                                description: Maximum number of expense categories allowed for standard users
                              max_recurring_transactions:
                                type: integer
                                example: 3
                                description: Maximum number of recurring transactions allowed for standard users

  # ─────────────────────────────────────────
  #   MAINTENANCE
  # ─────────────────────────────────────────

  /maintenance/status:
    get:
      tags: [Maintenance]
      summary: Get maintenance mode status
      description: >
        Public endpoint — no JWT required.
        Returns whether the app is in maintenance mode.
        When inactive returns only maintenance_mode false.
        When active returns maintenance_mode true with title and message
        translated to the user's language.
      security: []
      parameters:
        - name: lang
          in: query
          schema:
            type: string
            enum: [es, en, fr, de, pt, it]
            default: es
      responses:
        '200':
          description: Maintenance status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          maintenance_mode:
                            type: boolean
                            example: false
                          title:
                            type: string
                            nullable: true
                            description: Only present when maintenance_mode is true
                            example: "App en mantenimiento"
                          message:
                            type: string
                            nullable: true
                            description: Only present when maintenance_mode is true
                            example: "Estamos realizando mejoras. La app estará disponible en breve."

  # ─────────────────────────────────────────
  #   WEBHOOKS
  # ─────────────────────────────────────────

  /webhooks/revenuecat:
    post:
      tags: [Webhooks]
      summary: RevenueCat subscription webhook
      description: >
        Receives asynchronous subscription events from RevenueCat.
        Authenticated via a shared secret in the Authorization header — no JWT required.
        Always returns 200 so RevenueCat does not retry.
        Handled events: INITIAL_PURCHASE, RENEWAL, CANCELLATION, EXPIRATION, BILLING_ISSUE.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                api_version:
                  type: string
                  example: "1.0"
                event:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [INITIAL_PURCHASE, RENEWAL, CANCELLATION, EXPIRATION, BILLING_ISSUE]
                      example: INITIAL_PURCHASE
                    app_user_id:
                      type: string
                      description: Maps to the user id in our database
                      example: "1"
                    product_id:
                      type: string
                      example: com.bebudgettoday.premium.monthly
                    period_type:
                      type: string
                      example: NORMAL
                    purchased_at_ms:
                      type: integer
                      example: 1712345678000
                    expiration_at_ms:
                      type: integer
                      example: 1714937678000
                    store:
                      type: string
                      enum: [APP_STORE, PLAY_STORE]
                      example: APP_STORE
                    environment:
                      type: string
                      enum: [PRODUCTION, SANDBOX]
                      example: SANDBOX
                    price_in_purchased_currency:
                      type: number
                      example: 1.99
                    currency:
                      type: string
                      example: EUR
                    transaction_id:
                      type: string
                      example: "2000000XXXXXXXXX"
                    original_transaction_id:
                      type: string
                      example: "2000000XXXXXXXXX"
      responses:
        '200':
          description: Webhook received and processed — always 200 to prevent RevenueCat retries
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: "Webhook processed"